<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw0johC7Es9n84UhZxODTert0OXgZPVRXhYupZGX4anTQeTIjN" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Witcher 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">30 GAYME</a>
            </div>
        </div>
    </div>
</div>